
<form action="/profile/update/{{theUser._id}}" method="POST">
<fieldset id="editprofile">
<legend>Edit Your Profile</legend>
<p>
<label for="">First Name</label>
<input type="text" name="firstname" value="{{theUser.firstName}}"/>
</p>
<p>
<label for="">Last Name</label>
<input type="text" name="lastname" value="{{theUser.lastName}}"/>
</p>
<p>
<label for="">Email</label>
<input type="text" name="email" value="{{theUser.email}}"/>
</p>
<p>
<label for="">Username</label>
<input type="text" name="username" value="{{theUser.username}}"/>
</p>
<p>
<label for="">User Type</label>
<select name="role">
  <option value="Trimmer">Trimmer</option>
  <option value="Farmer">Farmer</option>
 </select>
</p>
</fieldset>
<p><input type="submit" name="button" id="button" value="SAVE" />
</p>
</form>

<div id="profilephoto">
<a href="/profile/photo/{{theUser._id}}">
<button>Add or Change Your Profile Photo</button>
</a>
</div>


