
<fieldset>
<legend>{{theUser.firstName}} {{theUser.lastName}}'s Profile Page</legend>
<p>
First Name: {{theUser.firstName}}
</p>
<p>
Last Name: {{theUser.lastName}}
</p>
<p>
Username: {{theUser.username}}
</p>
<p>
User Email: {{theUser.email}}
</p> 
<p>
User Type: {{theUser.role}}
</p>
</fieldset>

<div id="buttonscontainer">

<div>
<a href="/messages/{{theUser._id}}">
<button>View Your Messages</button>
</a>
</div>

<div>
<a href="/profile/joblistings">
<button>View Jobs You Posted</button>
</a>
</div>

<div>
<a href="/profile/edit/{{theUser._id}}">
<button>Edit Your Profile</button>
</a>
</div>


</div>

