<h2>This is {{theUser.firstName}} {{theUser.lastName}}'s Profile Page</h2>

<h2>User Name: {{theUser.username}}</h2>

<h2>User Email: {{theUser.email}}</h2>

<h2>User Type: {{theUser.role}}</h2>

<div>
<a href="/profile/edit/{{theUser._id}}"
<button>Edit your profile</button>
</a>
</div>
