<div id=listofjobscontainer>
<h1 id="listofjobsheading">List of Available Jobs</h1>

<div id=addnewlink>
<a href="/jobs/new">
<button>Add A New Job Listing</button>
</a>
</div>
</div>

{{#each theJobs}}
<fieldset>
<legend><a href="/jobs/{{this._id}}">
Job Title: {{this.jobTitle}}
</a></legend>
<p>
Number of Workers Needed: {{this.numberOfTrimmers}}
</p>
<p>
Duration of Job: {{this.duration}}
</p> 
<p>
Location: {{this.location}}
</p>
<p>
Pay Rate: {{this.payRate}}
</p>
</fieldset>
{{/each}}





