<div>List of Jobs</div>

<div>
<a href="/jobs/new"
<button>Add A New Job Listing</button>
</a>
</div>

{{#each theJobs}}

 <a href="/jobs/{{this._id}}">
 <h3>Job Title: {{this.jobTitle}}</h3>
 </a>
  <p>Number of Workers Needed: {{this.numberOfTrimmers}}</p>
  <p>Duration of Job: {{this.duration}}</p>
  <p>Location: {{this.location}}</p>
  <p>Pay Rate: {{this.payRate}}</p>

{{/each}}





