
{{#each theUser.jobListings}}
  <p>Job Title: {{this.jobTitle}}</p>
  <p>Number of Workers Needed: {{this.numberOfTrimmers}}</p>
  <p>Duration of Job: {{this.duration}}</p>
  <p>Location: {{this.location}}</p>
  <p>Pay Rate: {{this.payRate}}</p>
  <p>Accommodations Description: {{this.accommodations}}</p>
  <p>Travel Reimbursement: {{this.travelInfo}}</p>
  <p>Additional Information: {{this.notes}}</p>
  <div>
  <a href="/profile/joblistings/edit/{{this._id}}">
  <button>Edit this job listing</button>
</a>
</div>
  <form action="/profile/joblistings/delete/{{this._id}}" method="POST">
    <button>Delete this job listing</button>
  </form>

{{/each}}




  
